{{"<!-- start /partials/post-types/copy.html -->" | safeHTML }}
<article class="copy">
    <section class="category">
    </section>
    <section class="copy-date">
        <p><a href="{{ .RelPermalink }}">{{ .Date | time.Format "January 2, 2006" }}</a></p>
    </section>
    <section class="copy-content">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    </section>
    <section class="tags">
        <ul>
            {{ range .GetTerms "tags" }}
            <li><a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a></li>
            {{- end }}
        </ul>
    </section>
</article>
{{"<!-- end /partials/post-types/copy.html -->" | safeHTML }}