<article class="copy">
    <section>
        <p><a href="{{ .RelPermalink }}">{{ .PublishDate | time.Format "January 2, 2006" }}</a></p>
    </section>
    <h1>{{ .Title | title }}</h1>
    <section class="article-data">
        <ul>
            <li>{{ .FuzzyWordCount }} words</li>
            <li>{{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }}</li>
        </ul>
    </section>
    <section>
    {{ .Content }}
    </section>
    <section class="tags">
        <ul>
            {{ range .GetTerms "tags" }}
            <li><a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a></li>
            {{- end }}
        </ul>
    </section>
</article>