<article class="singles">
    <section class="date">
        <p><a href="{{ .RelPermalink }}">{{ .Date | time.Format "January 2, 2006" }}</a></p>
    </section>
    <section class="single-content">
        {{ .Content }}
    </section>
    <section>
        <p>exif.json output</p>

{{ $exif := dict }}
    {{ with .Resources.Get "exif.json" }}
          {{ $exif = . | transform.Unmarshal }}
    {{ end }}
{{ range .Resources.Match "*.jpg" }}
    {{ $model := "" }}
    {{ $lens := "" }}
{{ with where $exif "SourceFile" "eq" .Name }}
    {{ with index . 0 }}
        {{ $model = .Make }}
        {{ $lens = .FocalLengthIn35mmFormat }}
    {{ end }}
{{ end }}
<section>
    <ul>
        <li>{{ $model }}</li>
        <li>{{ $lens }}</li>
    </ul>
{{ end }}
</section>
</section>
    </section>
    <section class="tags">
    <ul>
        {{ range .GetTerms "tags" }}
        <li><a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a></li>
        {{- end }}
    </ul>
    </section>
</article>