<article class="singles">
    <section class="date">
        <p><a href="{{ .RelPermalink }}">{{ .Date | time.Format "January 2, 2006" }}</a></p>
    </section>
    <section class="single-content">
        {{ .Content }}
    </section>
    <section class=""exif>
{{ $exif := dict }}
    {{ with .Resources.Get "exif.json" }}
        {{ $exif = . | transform.Unmarshal }}
    {{ end }}

{{ range .Resources.Match "*.jpg" }}
    {{ $source := "" }}
    {{ $date := "" }}
    {{ $model := "" }}
    {{ $lens := "" }}
    {{ $mode := "" }}
    {{ $iso := "" }}
    {{ $shutter := "" }}
    {{ $aperture := "" }}
    {{ $length := "" }}
    {{ with $exif }}
        {{ with index . 0 }}
            {{ $source = .SourceFile }}
            {{ $date = .DateTimeOriginal }}
            {{ $model = .Model }}
            {{ $lens = .LensModel }}
            {{ $mode = .ExposureMode }}
            {{ $iso = .ISO }}
            {{ $shutter = .ShutterSpeedValue }}
            {{ $aperture = .ApertureValue }}
            {{ $length = .FocalLengthIn35mmFormat }}
        {{ end }}
    {{ end }}
    <section>
        <ul>
            <li>{{ $source }}</li>
            <li>{{ $date }}</li>
            <li>{{ $model }}</li>
            <li>{{ $lens }}</li>
            <li>{{ $mode }}</li>
            <li>{{ $date }}</li>
            <li>{{ $shutter }}</li>
            <li>{{ $aperture }}</li>
            <li>{{ $length }}</li>
        </ul>
    </section>
{{ end }}
    </section>
    <section class="tags">
    <ul>
        {{ range .GetTerms "tags" }}
        <li><a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a></li>
        {{- end }}
    </ul>
    </section>
</article>