# Hugo default output directory
/public

# Hugo lock files
.hugo_build.lock
package-lock.json
package.json

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store

# Dev
node_modules