{{"<!-- start /_defaults/baseof.html -->" | safeHTML }}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{- partial "head.html" . -}}
</head>
<body>
<div class="page">
    <div class="header">
        {{- partial "header.html" . -}}
    </div>
    <div class="navigation">
        {{- partial "navigation.html" . -}}
    </div>
    <div class="main">
        {{- block "main" . }}{{- end }}
    </div>
    <div class="footer">
        {{- partial "footer.html" . -}}
    </div>
</div>
</body>
</html>
{{"<!-- end /_defaults/baseof.html -->" | safeHTML }}
