{{ define "main" }}
    <h1>{{ .Title }}</h1>
    <div id="timestamp">{{ .Date | time.Format "January 2, 2006 @ 3:04 PM MST" }}</div>
    {{ .Content }}
    
    {{ with .Resources.GetMatch "exif.json" }}
    {{ $exif := .Content | transform.Unmarshal }}
        {{ range $exif }}
        <section class="exif">
            <ul>
                <li>{{ .SourceFile }}</li>
                <li>{{ .DateTimeOriginal }}</li>
                <li>{{ .FocalLength }}</li>
                <li>{{ .ExposureTime }}</li>
                <li>{{ .FNumber }}</li>
                <li>{{ .ISO }}</li>
            </ul>
        </section>
        {{ end }}
    {{ end }}

{{ end }}
