@import 'https://unpkg.com/modern-normalize@1.1.0/modern-normalize.css';

html {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 35px;
    padding: 0;
}

.page {
    max-width: 1280px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    gap: 16px;
  }

/*

.header {
    border: 1px dashed;
}

.navigation {
    border: 1px dashed;
}

.main {
    border: 1px dashed;
}

.footer{
    border: 1px dashed;
    font-size: small;
}

*/

.header {
    grid-column: 2;
}

.navigation {
    grid-column: 2;
}

.main {
    grid-column: 1 / -1;
}

.footer {
    grid-column: 2 / -1;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    padding-right: 32px;
}

.date {
    padding:0;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium; 
}

.date a:link{text-decoration: none;}

.copy {
}

article {padding-bottom:80px;}

.wrap {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
}

figure {
    margin: 0;
    padding: 0;
}

figure img {border: 4px solid black}

figure p {
    font-family: 'Courier New', Courier, monospace;
    font-size: small; 
}

figcaption {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    padding-top: 8px;
}

.tags {
    grid-column: 2;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding-top: 8px;
}

.tags ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tags li {display: inline-block;}