<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ .Site.Title }} — {{ .Site.Params.description }}{{else}}{{ .Page.Params.title }} — {{ .Site.Title }}{{end}}</title>
<meta name="description" content="{{ .Site.Params.description }}">
{{ $style := resources.Get "css/main.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">


<meta property="og:type" content="article">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:image" content="https://coldwaterchapel.com/cdn-cgi/imagedelivery/{{ .Site.Params.cloudflareID }}/{{.Page.Params.photoID}}/w=800">
<meta property="og:description" content="{{ .Page.Params.caption | safeHTML }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:article:author" content="William Duncan">
<meta property="oh:article:section" content="Singles">


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@coldwaterchapel">
<meta name="twitter:creator" content="@willduncanphoto">
<meta name="twitter:title" content="Title">
<meta name="twitter:description" content="This is a caption. There is no caption like it, because this caption is mine.">
<meta name="twitter:image" content="https://willduncan-stage.netlify.app/images/wd-headshot.webp">