<figure>
    <img width="100%" sizes="(max-width: 600px) 480px, 800px"
    srcset="
    https://coldwaterchapel.com/cdn-cgi/imagedelivery/{{ .Site.Params.cloudflareID }}/{{.Page.Params.photoID}}/w=320 320w,
    https://coldwaterchapel.com/cdn-cgi/imagedelivery/{{ .Site.Params.cloudflareID }}/{{.Page.Params.photoID}}/w=640 640w,
    https://coldwaterchapel.com/cdn-cgi/imagedelivery/{{ .Site.Params.cloudflareID }}/{{.Page.Params.photoID}}/w=860 860w,
    https://coldwaterchapel.com/cdn-cgi/imagedelivery/{{ .Site.Params.cloudflareID }}/{{.Page.Params.photoID}}/w=1280 1280w"
    src="https://coldwaterchapel.com/cdn-cgi/imagedelivery/{{ .Site.Params.cloudflareID }}/{{.Page.Params.photoID}}/w=100"
/>
<figcaption>
{{ .Page.Params.caption | safeHTML }} <span class="photo-credit">{{ with $.Page.Params.credit}}{{ $.Page.Params.credit }}{{end}}{{ with $.Page.Params.client}}/{{ $.Page.Params.client }}{{end}}</span>
</figcaption>
</figure>