<figure>
    <img width="100%" sizes="(max-width: 600px) 480px, 800px"
    srcset="
    https://coldwaterchapel.com/cdn-cgi/imagedelivery/{{ .Site.Params.cloudflareID }}/{{.Page.Params.photoID}}/w=320 320w,
    https://coldwaterchapel.com/cdn-cgi/imagedelivery/{{ .Site.Params.cloudflareID }}/{{.Page.Params.photoID}}/w=640 640w,
    https://coldwaterchapel.com/cdn-cgi/imagedelivery/{{ .Site.Params.cloudflareID }}/{{.Page.Params.photoID}}/w=860 860w,
    https://coldwaterchapel.com/cdn-cgi/imagedelivery/{{ .Site.Params.cloudflareID }}/{{.Page.Params.photoID}}/w=1280 1280w"
    src="https://coldwaterchapel.com/cdn-cgi/imagedelivery/{{ .Site.Params.cloudflareID }}/{{.Page.Params.photoID}}/w=100"
/>
<figcaption>
{{ .Page.Params.caption | safeHTML }}{{ with $.Page.Params.source}} Client: {{ $.Page.Params.source }}{{end}}
<ul>
    <li>frame: 20220617T185621_9051.jpg</li>
    <li>model: Nikon Z 9</li>
    <li>mode: Manual</li>
    <li>length: 200mm</li>
    <li>f-stop: 2.8</li>
    <li>shutter: 1/160</li>
    <li>iso: 100</li>
</ul> 
</figcaption>
</figure>